<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{27,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Appleb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{53,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{79,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Appled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{105,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{131,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applef.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{157,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Appleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{183,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Appleh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{209,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{235,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applej.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{261,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applek.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{287,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{313,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{339,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{365,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Appleo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{391,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{417,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Appleq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{443,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Appler.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{469,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Apples.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{495,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{521,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Appleu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{547,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{573,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{599,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{625,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Appley.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{651,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Applez.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{677,1},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>apple.png</string>
            <key>size</key>
            <string>{702,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bee4c8dd7ff6617d248d094ca63ce67:f3b80f966c302031976f2aad355e6722:03fd35765c52dc428ff3968328cf7a50$</string>
            <key>textureFileName</key>
            <string>apple.png</string>
        </dict>
    </dict>
</plist>
